<!DOCTYPE html>

<head>
<title>
    Citys
</title>


<style>
.button{
    background-color: rgb(7, 3, 68);
    color: rgb(255, 255, 255);
    size: 125cap;
    position: absolute;
    bottom: 10px;
}
body {
    background-image: url(https://images.vexels.com/media/users/3/144683/raw/98d47d68dbb07f52179138cddc76a5ac-abstrakter-minimalistischer-weisser-hintergrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;
}

</style>
</head>

<body>
    <h1>Citys</h1>



<form action="/">
    <button class="button">
        <p>back</p>
    </button>
</form>


</body>