<!DOCTYPE html>

<head>
<title>
    Countries
</title>


<style>
.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 3px;
    width: 10%;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;

}
body {
    background-image: url(https://images.vexels.com/media/users/3/144683/raw/98d47d68dbb07f52179138cddc76a5ac-abstrakter-minimalistischer-weisser-hintergrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100% ;
}

header{
    size: 160cap;
}

</style>
</head>

<h1>Countries</h1>

<body>

<form action="/">
    <button class="button">
        <p>back</p>
    </button>
</form>



</body>